<!DOCTYPE html>

{% extends 'base.html' %}


{% block header %}

    {% if is_running %}
          <a class="btn btn-info btn-lg" href="/" role="button"> Go to Contest</a>
    {% else %}
          
    {% endif %}
    
    <h1 class="align-this"><strong>About Us!</strong></h1>
    <p class="align-this">We both are final year student from National Institute of Technology, Durgapur.<br>
    While looking for ideas for Codechef API hackathon we realised that participated in  virtual contests on Codeforces, but there was no such thing for CodeChef, so we taught why not develop it.</p>

      <!-- <img src="/static/images/h.jpg" alt="Hasan Alirajpurwala"> -->
      <p><strong>Hasan Alirajpurwala</strong></p>
      <p>Competitive Programmer/ Full stack developer</p>
      <p><a href="https://github.com/hasan356">Github Profile</a></p>
      <p><a href="http://codeforces.com/profile/hasan_356">Codeforces Profile</a></p>
      <p>Email: ha.20150181[@btech.nitdgp.ac.in]</p>

      <hr>

      <!-- <img src="/static/images/v1.png" alt="Vishvanath Dutt Sharma" align="middle"> -->
      <p><strong>Vishvanath Dutt Sharma</strong></p>
      <p>ML/ AI Enthusiast/ Full stack developer</p>
      <p><a href="https://github.com/vishvanath45">Github Profile</a></p>
      <p><a href="https://vishvanath45.github.io">Personal Homepage</a></p>
      <p>Email: vnds.20150389[@btech.nitdgp.ac.in]</p>

{% endblock %}

{% block content %}

{% endblock %}