<!DOCTYPE html>

{% extends 'base-login.html' %}

{% block header %}


  <h3>Analyse your performance!</h3>

<br>

<h4> Comparing for {{ contestcode }} </h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Problem</th>
      <th scope="col">Parameter</th>
      <th scope="col">{{ username }}</th>
      <th scope="col">{{ compare_with }}</th>
    </tr>
  </thead>

  {% for key, value in u1data.items() %}
  <tbody>
        <tr>
          <th scope="row">{{ key }}</th>
          <td>Submission Accepted (in mins) </td>
          {% if value[0]|length > 1 %}
            <td>{{ value[0][0] }}</td>
          {% else %}
            <td>-</td>
          {% endif %}
          {% if value[1]|length > 1 %}
            <td>{{ value[1][0] }}</td>
          {% else %}
            <td>-</td>
          {% endif %}
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Compilation Time</td>
          {% if value[0]|length > 1 %}
            <td>{{ value[0][1] }}</td>
          {% else %}
            <td>-</td>
          {% endif %}
          {% if value[1]|length > 1 %}
            <td>{{ value[1][1] }}</td>
          {% else %}
            <td>-</td>
          {% endif %}
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Language</td>
          {% if value[0]|length > 1 %}
            <td>{{ value[0][2] }}</td>
          {% else %}
            <td>-</td>
          {% endif %}
          {% if value[1]|length > 1 %}
            <td>{{ value[1][2] }}</td>
          {% else %}
            <td>-</td>
          {% endif %}
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Panelty</td>
          {% if value[0]|length > 1 %}
            <td>{{ value[0][3] }}</td>
          {% else %}
            <td>{{ value[0][0] }}</td>
          {% endif %}
          {% if value[1]|length > 1 %}
            <td>{{ value[1][3] }}</td>
          {% else %}
            <td>{{ value[1][0] }} </td>
          {% endif %}
        </tr>
  </tbody>
  {% endfor %}
</table> 

{% endblock %}

{% block content %}

{% endblock %}