<!DOCTYPE html>

{% extends 'base-login.html' %}



{% block header %}
<script type="text/javascript">
  
  var timeleft = {{ time }}; 
  var counter = 0
  var startTime = 0;
  var currentTime = 0;

  console.log(timeleft)

  function convertSeconds(s) {
    let min = floor(s / 60);
    let sec = s % 60;
    return nf(min, 2) + ':' + nf(sec, 2);
  }


  function setup() {
    let timer  = select('#timer');
    // startTime = millis();

     //   var params = getURLParams();
     //   console.log(params);
     //   if (params.minute) {
     //     var min = params.minute;
     //     timeleft = min * 60;
     //   }
        if (timeleft < 0)
            timer.html("The contest ended");
        else{
        console.log(timer);
        console.log(timeleft);
        // timer.html('Time left : ' + convertSeconds(timeleft - counter));

        // var interval = setInterval(timeIt, 1000);

        function timeIt() {
          counter++;
          if(timeleft - counter < 0){
              alert("The Contest has ended.Refresh the page for see the final standings");
              return;
          }
          else{
          // currentTime = floor((millis() - startTime) / 1000);
            timer.html('Time left : ' + convertSeconds(timeleft - counter));
          }
          // if (currentTime == timeleft) {
              // ding.play();
              // clearInterval(interval);
          //counter = 0;
          // }
      }
      setInterval(timeIt , 1000)
    }
    } 
</script>
	
  <h3>{{ name }}</h3>
  <h5>Total Time(in mins) : {{ mins }}</h5>
  <h5 id="timer"></h5>
<br>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Problem Code</th>
      <th scope="col">Successful submission</th>
      <th scope="col">Accuracy</th>
      <!-- <th scope="col">Column heading</th> -->
    </tr>
  </thead>
  <tbody>
  {% for key in obj %}  
    <tr class="table-light">
    {% if friend[key.problem_name] > 0 %}
      <th scope="row"><a href="/problem/{{ contest_code }}/{{ key.problem_name }}">{{ key.problem_name }}&#x2705;</a></th>
    {% elif friend[key.problem_name] < 0 %}
      <th scope="row"><a href="/problem/{{ contest_code }}/{{ key.problem_name }}">{{ key.problem_name }}&#x274C;</a></th>
    {% else %}
      <th scope="row"><a href="/problem/{{ contest_code }}/{{ key.problem_name }}">{{ key.problem_name }}</a></th>
    {% endif %}
    <td>{{ key.correct }}</td>
    <td>{{ key.accuracy }}</td>
    <!-- <td>20%</td> -->
    </tr>
  {% endfor %} 
  </tbody>
</table> 
{% endblock %}



{% block content %}

{% endblock %}

