<!DOCTYPE html>

{% extends 'base.html' %}


{% block header %}


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Codechef Virtual Contest</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
<!--       <li class="nav-item">
        <a class="nav-link" href="#">Start here</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Current Leaderboard</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
    </ul>   
  </div>
</nav>

<div class="jumbotron">
	<h4 class="display-4">{{ name }}</h4>
	<h5 class="display-5">{{ contest_code }}</h5>
  Duration : {{ mins }} mins
  <hr class="my-4">
  Time Right now : 
  <iframe src="http://free.timeanddate.com/clock/i6f07kp1/n1993/fn16/fs18/tct/pct/pa0/th1/ta1" frameborder="0" width="100" height="18" allowTransparency="true"></iframe>

  <br>
  <br>
	<h6 class="display-6">Original contest details </h6>
  <h6 class="display-6">Start Date : {{ s_d }} </h6>
  <h6 class="display-6">End Date : {{ e_d }} </h6>


	<p class="lead">

	<form class="form-inline" action="/begin_contest" method="post">
    <div class="form-group mx-sm-3 mb-2">
    <input type="hidden" id='contestcode' name = 'contestcode' value = {{ contest_code }} />
    <input type="hidden" id='old_s_time' name='old_s_time' value={{ s_d }} />
    <input type="hidden" id='old_e_time' name='old_e_time' value={{ e_d }} />
    <input type="hidden" id='duration' name='duration' value={{ mins }} />
    <button type="submit" class="btn btn-primary">Start contest!</button>
    </div>
  </form>
    
  <br>
  <br>
  <h4 class="display-8">When you take part in virtual contests please follow those simple rules:</h4>
  <ul>
  	<li>Don't participate if you've already seen the problems</li>
  	<li>Don't participate if you only want to commit one problem or if you don't want/can't participate in the whole contest.</li>
  	<li>During the contest don't read editorials, don't use somebody else's code, don't talk to other people</li>
  	<li>Try to make it an efficient and enjoyable training!</li>
  </ul>
  <br>

  <center>Made with ♥ by Hasan(@hasan356) and Vishva Nath(@vishvanath45)</center>
  </p>

</div>
{% endblock %}

{% block content %}

{% endblock %}  