<!DOCTYPE html>

{% extends 'base.html' %}


{% block header %}

	<h1 class="display-4">Hello!!</h1>
	<h2 class="display-5">Create a Virtual Contest</h2>
	<p class="lead">It enable the users to run the past contests in a special mode that would imitate a real competition, currently supporting Cookoffs and LunchTime.</p>
	<hr class="my-4">
	<p>It uses Codechef APIs to get details about past contest and conduct it in virtual environment, giving feel as if it was hosting at real time. Try it now!</p>
	<p class="lead">
	<p> Give permission to app below </p>
    <a class="btn btn-info btn-lg" href="https://api.codechef.com/oauth/authorize?response_type=code&client_id={{ client_id }}&redirect_uri={{ redirect_uri }}&state=xyz" role="button">Continue</a>
  <br>
  <br>
  <h4 class="display-8">When you take part in virtual contests please follow those simple rules:</h4>
  <ul>
  	<li>Don't participate if you've already seen the problems</li>
  	<li>Don't participate if you only want to commit one problem or if you don't want/can't participate in the whole contest.</li>
  	<li>During the contest don't read editorials, don't use somebody else's code, don't talk to other people</li>
  	<li>Try to make it an efficient and enjoyable training!</li>
  </ul>
  <br>

  </p>
{% endblock %}

{% block content %}

{% endblock %}