<!DOCTYPE html>

{% extends 'base-login.html' %}

{% block header %}


  <h3>{{ name }}</h3>
  <h5>Time limit : {{ timelimit }} sec | Size limit : {{ sizelimit }} bytes</h5>
  <br>
  <h5><p class = 'text-danger'>Note : Submit the solution on codechef platform, your ranking for this virtual contest will be refreshed accordingly.</p></h5>
  <br>
  <p class="lead">
    <a  target="_blank" class="btn btn-info btn-lg" href="https://www.codechef.com/submit/{{ code }}" role="button">Submit Solution</a>
  </p>
  <br>
  {{ statement | safe }}
  <br>
  <p class="lead">
    <a  target="_blank" class="btn btn-info btn-lg" href="https://www.codechef.com/submit/{{ code }}" role="button">Submit Solution</a>
  </p>
  <br>

  </p>

{% endblock %}

{% block content %}

{% endblock %}