<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Codechef Virtual Contest</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Problems</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Current Leaderboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
    </ul>   
  </div>
</nav>

<div class="jumbotron">
	
  <h5>{{ name }}</h5>
  <h7>Time limit : {{ timelimit }}</h7>
  <br>
  <h7>Size limit : {{ sizelimit }}</h7>
  {{ statement|safe }}

  <hr class="my-4">
  <center>Made with ♥ by Hasan(@hasan356) and Vishva Nath(@vishvanath45)</center>
  </p>
</div>

{% endblock %}

{% block content %}

{% endblock %}