<!DOCTYPE html>

{% extends 'base-login.html' %}

{% block header %}

<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
  <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script> -->

{% if friends %}
<h4 class="display-4">Friends Standing!!</h4>
{% else %}
<h4 class="display-4">Current Standing!!</h4>
{% endif %}

    {% if friends %}
          <a class="btn btn-info btn-lg" href="/standings" role="button"> Go to Overall Standing</a>
    {% else %}
          <a class="btn btn-info btn-lg" href="/standings?friends=True" role="button">Go to Friends Standing</a>
    {% endif %}
  <br>
<table class ="table table-striped table-bordered table-hover" id="itemList">
    <thead>
        <tr>
            <td>Rank</td>
            <td>UserName</td>
            <td>Total Score</td>
            <td>Penalty</td>
            {% for problem in problems %}
                <td>{{ problem }}</td>
            {% endfor %}
        </tr>
        {% for val in obj %}
        <tr>
          <td> {{ val['rank'] }} </td>
          <td> <a target='_blank' href='/compare?compare_with={{ val["name"] }}&contestcode={{ contest_code }}'>{{ val['name'] }}</a></td>
          <td> {{ val["Total Score"] }} </td>
          <td> {{ val["Penalty"] }} </td>
          {% for problem in problems %}
            <td> {{ val[problem] }} </td>
          {% endfor %}
        </tr>
        {% endfor %}
    </thead>
    <tbody>

    </tbody>
</table>


<!-- <script type="text/javascript">
  
var obj = {{ obj|tojson }};
var problems = {{ problems|tojson }}
// console.log(problems)
for (var i = 1 ; i <= obj.length ; i++)
{
  var rows = "";

  rows += "<tr><td>" + i + "</td><td>" + "<a target='_blank' href='/compare?compare_with='"+obj[i-1]["name"] +"&contestcode={{ contest_code }}>" +obj[i-1]["name"] +"</a>"+ "</td><td>" + obj[i-1]["Total Score"] + "</td><td>" + obj[i-1]["Penalty"];
  for(var j = 0 ; j < problems.length ;j++){
    rows += "</td><td>"  + obj[i-1][problems[j]] ;
    // console.log(nes_row)
  }
  rows+="</td></tr>"
  $('#itemList').find('tbody').append(rows);
}
// $(rows).appendTo("#itemList tbody");
</script>
 -->
</p>


{% endblock %}

{% block content %}

{% endblock %}

